:root {
  --main-bg: #F2F2F2;
  --box-bg: #FFF;
  --search-color: #848484;
  --main-color: #111517;
  --nav-path: #000;
}

.dark-mode {
  --main-bg: #202C36;
  --box-bg: #2B3844;
  --search-color: #fff;
  --main-color: #fff;
  --nav-path: #fff;
}

/* GLOBAL */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
  background-color: var(--main-bg);
  color: var(--main-color);
  font-family: "Nunito Sans", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}


/* CONTAINER */
.container {
  width: 1440px;
  margin: 0 auto;
  padding: 0 80px;
}

.row {
  display: flex;
  justify-content: space-between;
}

/* HEADER */
header {
  width: 100%;
  background: var(--box-bg);
  padding: 23px 0;
}

h1 {
  margin: 0;
  font-weight: 800;
  font-size: 24px;
  line-height: 33px;
}

.mode-control {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.mode-control svg {
  margin-top: 4px;
  height: 100%;
  display: flex;
  align-items: center;
  width: 15px;
  height: 22px;
}

.mode-path {
  margin-right: 11px;
  stroke: var(--main-color);
  fill: var(--box-bg);
}

.mode-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  margin-left: 11px;
}

/* MAIN-CONTENT */
.main-content {
  flex-grow: 1;
}

.main-top {
  padding: 50px 0;
  position: relative;
}

.main-top svg:first-child {
  position: absolute;
  top: 45%;
  left: 34px;
}

.main-top svg:last-child {
  position: absolute;
  top: 48%;
  right: 25px;
}

.main-top svg:last-child path {
  fill: var(--nav-path);
}

.main-input-shearch-icon {
  fill: var(--search-color);
}

input {
  font-size: 14px;
  line-height: 20px;
  background: var(--box-bg);
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
  border: none;
  border-radius: 5px;
  padding: 6px 270px 6px 74px;
}

#main-region-selector {
  font-size: 14px;
  line-height: 20px;
  padding: 18px 24px;
  width: 200px;
  background: var(--box-bg);
  color: var(--main-color);
  border: none;
  appearance: none;
  border-radius: 5px;
}

#main-region-selector option {
  line-height: 20px !important;
}

.main-nav-opener-shape {
  fill: var(--nav-path);
}

.main-inner {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main-inner-box {
  width: 264px;
  background: var(--box-bg);
  margin-bottom: 72px;
  border-radius: 5px;
  overflow: hidden;
}

.main-inner-box img {
  width: 100%;
}

.main-inner-box-title {
  padding: 24px 24px 46px;
}


.main-inner-box-title * {
  padding: 0;
  margin: 0;
}

.main-inner-box-title h3 {
  font-weight: 800;
  font-size: 18px;
  line-height: 26px;
  /* color: var(--main-color); */
  margin-bottom: 16px;
}

.main-inner-box-title p {
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 8px;
}


.main-inner-box-title p b {
  font-weight: 600;
}